@charset "UTF-8";
/* bourbon framework */
@import url("//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800");
@import url("//fonts.googleapis.com/css?family=Inconsolata:300,400,600,700,800");
@keyframes ani-txt1 { 0% { opacity: 0; margin-top: -15px; }
  100% { opacity: 1; margin-top: 0; } }
@keyframes ani-txt2 { 0% { opacity: 0; margin-top: -8px; }
  100% { opacity: 1; margin-top: 12px; } }
@keyframes visualTit { 0% { -webkit-transform: scale(1.4); -moz-transform: scale(1.4); -ms-transform: scale(1.4); -o-transform: scale(1.4); transform: scale(1.4); }
  50% { -webkit-transform: scale(1); -moz-transform: scale(1); -ms-transform: scale(1); -o-transform: scale(1); transform: scale(1); }
  100% { -webkit-transform: scale(1.4); -moz-transform: scale(1.4); -ms-transform: scale(1.4); -o-transform: scale(1.4); transform: scale(1.4); } }
.width-1 { width: 1%; }

.width-2 { width: 2%; }

.width-3 { width: 3%; }

.width-4 { width: 4%; }

.width-5 { width: 5%; }

.width-6 { width: 6%; }

.width-7 { width: 7%; }

.width-8 { width: 8%; }

.width-9 { width: 9%; }

.width-10 { width: 10%; }

.width-11 { width: 11%; }

.width-12 { width: 12%; }

.width-13 { width: 13%; }

.width-14 { width: 14%; }

.width-15 { width: 15%; }

.width-16 { width: 16%; }

.width-17 { width: 17%; }

.width-18 { width: 18%; }

.width-19 { width: 19%; }

.width-20 { width: 20%; }

.width-21 { width: 21%; }

.width-22 { width: 22%; }

.width-23 { width: 23%; }

.width-24 { width: 24%; }

.width-25 { width: 25%; }

.width-26 { width: 26%; }

.width-27 { width: 27%; }

.width-28 { width: 28%; }

.width-29 { width: 29%; }

.width-30 { width: 30%; }

.width-31 { width: 31%; }

.width-32 { width: 32%; }

.width-33 { width: 33%; }

.width-34 { width: 34%; }

.width-35 { width: 35%; }

.width-36 { width: 36%; }

.width-37 { width: 37%; }

.width-38 { width: 38%; }

.width-39 { width: 39%; }

.width-40 { width: 40%; }

.width-41 { width: 41%; }

.width-42 { width: 42%; }

.width-43 { width: 43%; }

.width-44 { width: 44%; }

.width-45 { width: 45%; }

.width-46 { width: 46%; }

.width-47 { width: 47%; }

.width-48 { width: 48%; }

.width-49 { width: 49%; }

.width-50 { width: 50%; }

.width-51 { width: 51%; }

.width-52 { width: 52%; }

.width-53 { width: 53%; }

.width-54 { width: 54%; }

.width-55 { width: 55%; }

.width-56 { width: 56%; }

.width-57 { width: 57%; }

.width-58 { width: 58%; }

.width-59 { width: 59%; }

.width-60 { width: 60%; }

.width-61 { width: 61%; }

.width-62 { width: 62%; }

.width-63 { width: 63%; }

.width-64 { width: 64%; }

.width-65 { width: 65%; }

.width-66 { width: 66%; }

.width-67 { width: 67%; }

.width-68 { width: 68%; }

.width-69 { width: 69%; }

.width-70 { width: 70%; }

.width-71 { width: 71%; }

.width-72 { width: 72%; }

.width-73 { width: 73%; }

.width-74 { width: 74%; }

.width-75 { width: 75%; }

.width-76 { width: 76%; }

.width-77 { width: 77%; }

.width-78 { width: 78%; }

.width-79 { width: 79%; }

.width-80 { width: 80%; }

.width-81 { width: 81%; }

.width-82 { width: 82%; }

.width-83 { width: 83%; }

.width-84 { width: 84%; }

.width-85 { width: 85%; }

.width-86 { width: 86%; }

.width-87 { width: 87%; }

.width-88 { width: 88%; }

.width-89 { width: 89%; }

.width-90 { width: 90%; }

.width-91 { width: 91%; }

.width-92 { width: 92%; }

.width-93 { width: 93%; }

.width-94 { width: 94%; }

.width-95 { width: 95%; }

.width-96 { width: 96%; }

.width-97 { width: 97%; }

.width-98 { width: 98%; }

.width-99 { width: 99%; }

.width-100 { width: 100%; }

/* ellipsis */
@font-face { font-family: 'Nanum Square'; src: url("/fonts/NanumSquareL.eot");
  /* IE9 Compat Modes */
src: url("/fonts/NanumSquareL.eot?#iefix") format("embedded-opentype"), url("/fonts/NanumSquareL.woff") format("woff"), url("/fonts/NanumSquareL.ttf") format("truetype"), url("/fonts/NanumSquareOTFLight.svg#017f9c78318bcde3d1dc4451e8eaca0a") format("svg");
  /* Legacy iOS */
font-style: normal; font-weight: 300; }
@font-face { font-family: 'Nanum Square'; src: url("/fonts/NanumSquareR.eot");
  /* IE9 Compat Modes */
src: url("/fonts/NanumSquareR.eot?#iefix") format("embedded-opentype"), url("/fonts/NanumSquareR.woff") format("woff"), url("/fonts/NanumSquareR.ttf") format("truetype"), url("/fonts/NanumSquareOTFR.svg#9e23ceb0c858ca37642ba540402577eb") format("svg");
  /* Legacy iOS */
font-style: normal; font-weight: 400; }
@font-face { font-family: 'Nanum Square'; src: url("/fonts/NanumSquareB.eot");
  /* IE9 Compat Modes */
src: url("/fonts/NanumSquareB.eot?#iefix") format("embedded-opentype"), url("/fonts/NanumSquareB.woff") format("woff"), url("/fonts/NanumSquareB.ttf") format("truetype"), url("/fonts/NanumSquareOTFB.svg#a41a1fda1fdf3dafd3394867a156b1cf") format("svg");
  /* Legacy iOS */
font-style: normal; font-weight: 700; }
@font-face { font-family: 'Nanum Square'; src: url("/fonts/NanumSquareEB.eot");
  /* IE9 Compat Modes */
src: url("/fonts/NanumSquareEB.eot?#iefix") format("embedded-opentype"), url("/fonts/NanumSquareEB.woff") format("woff"), url("/fonts/NanumSquareEB.ttf") format("truetype"), url("/fonts/NanumSquareOTFExtraBold.svg#090d6763bc81b49309446d23fbd10e87") format("svg");
  /* Legacy iOS */
font-style: normal; font-weight: 900; }
@font-face { font-family: 'Noto Sans Korean'; font-style: normal; font-weight: 100; src: local("Noto Sans Thin"), local("NotoSans-Thin"), url(/fonts/NotoSansKR-Thin-Hestia.eot), url(/fonts/NotoSansKR-Thin-Hestia.eot?#iefix) format("embedded-opentype"), url(/fonts/NotoSansKR-Thin-Hestia.woff) format("woff"), url(/fonts/NotoSansKR-Thin-Hestia.otf) format("opentype"); }
@font-face { font-family: 'Noto Sans Korean'; font-style: normal; font-weight: 300; src: local("Noto Sans Light"), local("NotoSans-Light"), url(/fonts/NotoSansKR-Light-Hestia.eot), url(/fonts/NotoSansKR-Light-Hestia.eot?#iefix) format("embedded-opentype"), url(/fonts/NotoSansKR-Light-Hestia.woff) format("woff"), url(/fonts/NotoSansKR-Light-Hestia.otf) format("opentype"); }
@font-face { font-family: 'Noto Sans Korean'; font-style: normal; font-weight: 350; src: local("Noto Sans DemiLight"), local("NotoSans-DemiLight"), url(/fonts/NotoSansKR-DemiLight-Hestia.eot), url(/fonts/NotoSansKR-DemiLight-Hestia.eot?#iefix) format("embedded-opentype"), url(/fonts/NotoSansKR-DemiLight-Hestia.woff) format("woff"), url(/fonts/NotoSansKR-DemiLight-Hestia.otf) format("opentype"); }
@font-face { font-family: 'Noto Sans Korean'; font-style: normal; font-weight: 400; src: local("Noto Sans Regular"), local("NotoSans-Regular"), url(/fonts/NotoSansKR-Regular-Hestia.eot), url(/fonts/NotoSansKR-Regular-Hestia.eot?#iefix) format("embedded-opentype"), url(/fonts/NotoSansKR-Regular-Hestia.woff) format("woff"), url(/fonts/NotoSansKR-Regular-Hestia.otf) format("opentype"); }
@font-face { font-family: 'Noto Sans Korean'; font-style: normal; font-weight: 500; src: local("Noto Sans Medium"), local("NotoSans-Medium"), url(/fonts/NotoSansKR-Medium-Hestia.eot), url(/fonts/NotoSansKR-Medium-Hestia.eot?#iefix) format("embedded-opentype"), url(/fonts/NotoSansKR-Medium-Hestia.woff) format("woff"), url(/fonts/NotoSansKR-Medium-Hestia.otf) format("opentype"); }
@font-face { font-family: 'Noto Sans Korean'; font-style: normal; font-weight: 700; src: local("Noto Sans Bold"), local("NotoSans-Bold"), url(/fonts/NotoSansKR-Bold-Hestia.eot), url(/fonts/NotoSansKR-Bold-Hestia.eot?#iefix) format("embedded-opentype"), url(/fonts/NotoSansKR-Bold-Hestia.woff) format("woff"), url(/fonts/NotoSansKR-Bold-Hestia.otf) format("opentype"); }
html { color: #2b323f; background: #FFF; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
html *, html *::before, html *::after { -webkit-box-sizing: inherit; -moz-box-sizing: inherit; box-sizing: inherit; }

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td { margin: 0; padding: 0; }

table { border-collapse: collapse; border-spacing: 0; }

fieldset, img { border: 0; }

address, caption, cite, code, dfn, em, th, var, strong { font-style: normal; }

strong { font-weight: 600; }

ol, ul, li { list-style: none; }

caption, th { text-align: left; }

h1, h2, h3, h4, h5, h6 { font-size: 100%; font-weight: 400; }

q:before, q:after { content: ''; }

abbr, acronym { border: 0; font-variant: normal; }

sup { vertical-align: text-top; }

sub { vertical-align: text-bottom; }

input, textarea, select { font-family: inherit; font-size: inherit; font-weight: inherit; }

input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button { -webkit-appearance: none; margin: 0; }

input, textarea, select { *font-size: 100%; }

img { display: inline-block; vertical-align: top; }

html { width: 100%; position: relative; word-break: keep-all; }

body, input, textarea, select, button { font-size: 16px; font-weight: 400; color: #000; line-height: 1.55; padding: 0; margin: 0; font-family: "Noto Sans Korean", "Segoe UI", "Helvetica Neue", "Arial", sans-serif; border: none; outline: none; text-size-adjust: none; }

img { max-width: 100%; }

a { text-decoration: none; color: #868686; }
a:hover { color: #ec407a; }

/* skip */
dl.skip { position: absolute; width: 100%; left: 0; top: 0; z-index: 1000; font-size: 12px; }
dl.skip dt { position: absolute; visibility: hidden; }
dl.skip a { position: absolute; left: 0; top: -40px; width: 100%; text-align: center; height: 40px; }
dl.skip a:focus { top: 0; }

/* etc */
.sr-only { position: absolute; width: 1px; height: 1px; padding: 0; margin: -1px; overflow: hidden; clip: rect(0, 0, 0, 0); border: 0; }

.center { text-align: center !important; }

.left { text-align: left !important; }

.right { text-align: right !important; }

.block, .top-info-box .t-btn { display: block !important; }

.inline { display: inline-block !important; }

.fl { float: left; }

.fr { float: right; }

/* slick */
.slick-slider { position: relative; display: block; box-sizing: border-box; -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; -ms-touch-action: pan-y; touch-action: pan-y; -webkit-tap-highlight-color: transparent; }

.slick-list { position: relative; overflow: hidden; display: block; margin: 0; padding: 0; }
.slick-list:focus { outline: none; }
.slick-list.dragging { cursor: pointer; cursor: hand; }

.slick-slider .slick-track, .slick-slider .slick-list { -webkit-transform: translate3d(0, 0, 0); -moz-transform: translate3d(0, 0, 0); -ms-transform: translate3d(0, 0, 0); -o-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); }

.slick-track { position: relative; left: 0; top: 0; display: block; margin-left: auto; margin-right: auto; }
.slick-track:before, .slick-track:after { content: ""; display: table; }
.slick-track:after { clear: both; }
.slick-loading .slick-track { visibility: hidden; }

.slick-slide { float: left; height: 100%; min-height: 1px; display: none; }
.slick-initialized .slick-slide { display: block; }
.slick-loading .slick-slide { visibility: hidden; }
.slick-vertical .slick-slide { display: block; height: auto; border: 1px solid transparent; }

.slick-arrow.slick-hidden { display: none; }

.slick-dots { display: none; }


/* loading */
.loading-wrap { position: fixed; top: 0; left: 0; width: 100%; height: 100%; background: rgba(0, 0, 0, 0.8); z-index: 1000; display: none; }
.loading-wrap .out { position: relative; height: 100%; }
.loading-wrap .in { position: absolute; top: 50%; left: 50%; margin: -18px 0 0 -30px; }
.loading-wrap.is-act { display: block; }

@-webkit-keyframes rotate-loading { 0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); } }
@-moz-keyframes rotate-loading { 0% { -moz-transform: rotate(0deg); }
  100% { -moz-transform: rotate(360deg); } }
@keyframes rotate-loading { 0% { -webkit-transform: rotate(0deg); -moz-transform: rotate(0deg); -ms-transform: rotate(0deg); -o-transform: rotate(0deg); transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); -moz-transform: rotate(360deg); -ms-transform: rotate(360deg); -o-transform: rotate(360deg); transform: rotate(360deg); } }
@-webkit-keyframes loading-text-opacity { 0% { opacity: 0; }
  20% { opacity: 0; }
  50% { opacity: 1; }
  100% { opacity: 0; } }
@-moz-keyframes loading-text-opacity { 0% { opacity: 0; }
  20% { opacity: 0; }
  50% { opacity: 1; }
  100% { opacity: 0; } }
@keyframes loading-text-opacity { 0% { opacity: 0; }
  20% { opacity: 0; }
  50% { opacity: 1; }
  100% { opacity: 0; } }
@-webkit-keyframes loading { 0% { background-image: none; }
  17% { background-image: url("/img/loading/loading1.png"); }
  34% { background-image: url("/img/loading/loading2.png"); }
  51% { background-image: url("/img/loading/loading3.png"); }
  68% { background-image: url("/img/loading/loading4.png"); }
  83% { background-image: url("/img/loading/loading5.png"); }
  100% { background-image: url("/img/loading/loading6.png"); } }
@-moz-keyframes loading { 0% { background-image: none; }
  17% { background-image: url("/img/loading/loading1.png"); }
  34% { background-image: url("/img/loading/loading2.png"); }
  51% { background-image: url("/img/loading/loading3.png"); }
  68% { background-image: url("/img/loading/loading4.png"); }
  83% { background-image: url("/img/loading/loading5.png"); }
  100% { background-image: url("/img/loading/loading6.png"); } }
@keyframes loading { 0% { background-image: none; }
  17% { background-image: url("/img/loading/loading1.png"); }
  34% { background-image: url("/img/loading/loading2.png"); }
  51% { background-image: url("/img/loading/loading3.png"); }
  68% { background-image: url("/img/loading/loading4.png"); }
  83% { background-image: url("/img/loading/loading5.png"); }
  100% { background-image: url("/img/loading/loading6.png"); } }
.loading-grp { display: inline-block; width: 60px; height: 36px; position: relative; -webkit-animation: loading 1s infinite; -moz-animation: loading 1s infinite; animation: loading 1s infinite; background: 0 0 no-repeat; background-size: contain !important; }

.loading-text { display: none; }

/*
.loading-grp {display: inline-block; width: 80%; height: 80px; position: relative;}
.loading {display: inline-block; height: 80px; position: relative; width: 80px; border-radius: 100%; border: 2px solid transparent; border-color: transparent $point1 transparent $point2; @include animation(rotate-loading 1.5s linear 0s infinite normal); @include transform-origin(50% 50%); @include transition(all 0.5s ease-in-out);}
.loading-text {@include animation(loading-text-opacity 2s linear 0s infinite normal); color: #fff; font-size: 11px; font-weight: 500; line-height: 80px; opacity: 0; position: absolute; text-align: center; text-transform: uppercase; top: 0; width: 80px;}
*/
/* input */
input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="email"], input[type="month"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="time"], input[type="url"], input[type="week"], input:not([type]), textarea, textarea, select { vertical-align: top; color: #000; border: 1px solid #e4e4e4; font-size: 16px; height: 40px; line-height: 38px; padding: 0 12px; background: #fff; }
input[type="color"]::-webkit-input-placeholder, input[type="date"]::-webkit-input-placeholder, input[type="datetime"]::-webkit-input-placeholder, input[type="datetime-local"]::-webkit-input-placeholder, input[type="email"]::-webkit-input-placeholder, input[type="month"]::-webkit-input-placeholder, input[type="number"]::-webkit-input-placeholder, input[type="password"]::-webkit-input-placeholder, input[type="search"]::-webkit-input-placeholder, input[type="tel"]::-webkit-input-placeholder, input[type="text"]::-webkit-input-placeholder, input[type="time"]::-webkit-input-placeholder, input[type="url"]::-webkit-input-placeholder, input[type="week"]::-webkit-input-placeholder, input:not([type])::-webkit-input-placeholder, textarea::-webkit-input-placeholder, textarea::-webkit-input-placeholder, select::-webkit-input-placeholder { color: #888; }
input[type="color"]::-moz-placeholder, input[type="date"]::-moz-placeholder, input[type="datetime"]::-moz-placeholder, input[type="datetime-local"]::-moz-placeholder, input[type="email"]::-moz-placeholder, input[type="month"]::-moz-placeholder, input[type="number"]::-moz-placeholder, input[type="password"]::-moz-placeholder, input[type="search"]::-moz-placeholder, input[type="tel"]::-moz-placeholder, input[type="text"]::-moz-placeholder, input[type="time"]::-moz-placeholder, input[type="url"]::-moz-placeholder, input[type="week"]::-moz-placeholder, input:not([type])::-moz-placeholder, textarea::-moz-placeholder, textarea::-moz-placeholder, select::-moz-placeholder { color: #888; }
input[type="color"]:-moz-placeholder, input[type="date"]:-moz-placeholder, input[type="datetime"]:-moz-placeholder, input[type="datetime-local"]:-moz-placeholder, input[type="email"]:-moz-placeholder, input[type="month"]:-moz-placeholder, input[type="number"]:-moz-placeholder, input[type="password"]:-moz-placeholder, input[type="search"]:-moz-placeholder, input[type="tel"]:-moz-placeholder, input[type="text"]:-moz-placeholder, input[type="time"]:-moz-placeholder, input[type="url"]:-moz-placeholder, input[type="week"]:-moz-placeholder, input:not([type]):-moz-placeholder, textarea:-moz-placeholder, textarea:-moz-placeholder, select:-moz-placeholder { color: #888; }
input[type="color"]:-ms-input-placeholder, input[type="date"]:-ms-input-placeholder, input[type="datetime"]:-ms-input-placeholder, input[type="datetime-local"]:-ms-input-placeholder, input[type="email"]:-ms-input-placeholder, input[type="month"]:-ms-input-placeholder, input[type="number"]:-ms-input-placeholder, input[type="password"]:-ms-input-placeholder, input[type="search"]:-ms-input-placeholder, input[type="tel"]:-ms-input-placeholder, input[type="text"]:-ms-input-placeholder, input[type="time"]:-ms-input-placeholder, input[type="url"]:-ms-input-placeholder, input[type="week"]:-ms-input-placeholder, input:not([type]):-ms-input-placeholder, textarea:-ms-input-placeholder, textarea:-ms-input-placeholder, select:-ms-input-placeholder { color: #888; }
.grp_info_box input[type="color"], .grp_info_box input[type="date"], .grp_info_box input[type="datetime"], .grp_info_box input[type="datetime-local"], .grp_info_box input[type="email"], .grp_info_box input[type="month"], .grp_info_box input[type="number"], .grp_info_box input[type="password"], .grp_info_box input[type="search"], .grp_info_box input[type="tel"], .grp_info_box input[type="text"], .grp_info_box input[type="time"], .grp_info_box input[type="url"], .grp_info_box input[type="week"], .grp_info_box input:not([type]), .grp_info_box textarea, .grp_info_box textarea, .grp_info_box select { width: 100%; height: 60px; font-size: 13px; text-indent: 6px; }

textarea { line-height: 1.45; padding: 14px 20px; height: inherit; }

.cus-file { position: relative; display: block; padding-left: 98px; background: #fff; }
.cus-file input { width: 100%; }
.cus-file input[type="file"] { cursor: pointer; height: 100%; border: none; position: absolute; top: 0; right: 0; -moz-opacity: 0; -khtml-opacity: 0; -webkit-opacity: 0; opacity: 0; -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0); filter: alpha(opacity=0); }
.cus-file input[type="file"]::-webkit-file-upload-button { cursor: pointer; }
.cus-file .hidden { display: block; position: absolute; top: 0; bottom: 0; left: 0; width: 80px; background: #f2f2f2; color: #888; line-height: 32px; text-align: center; }

.cus-check, .cus-radio { display: inline-block; position: relative; }
.cus-check input, .cus-radio input { -moz-opacity: 0; -khtml-opacity: 0; -webkit-opacity: 0; opacity: 0; -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0); filter: alpha(opacity=0); position: absolute; top: 0; left: 0; width: 100% !important; height: 100% !important; z-index: 2; }
.cus-check label, .cus-radio label { display: inline-block; height: 26px; line-height: 25px; font-size: 14px; padding-left: 35px; position: relative; color: #666; font-weight: 400; }
.cus-check label:before, .cus-radio label:before { content: ''; position: absolute; top: 0; left: 0; width: 26px; height: 26px; border: 1px solid #c9c9c9; border-radius: 16px; background: #fff url("/img/ico/check-off.png") 0 0 no-repeat; background-size: cover !important; }
.cus-check input:checked + label:before, .cus-radio input:checked + label:before { background-image: url("/img/ico/check-on.png"); }
.view-box .cus-check label:before, .view-box .cus-radio label:before { background: none; }
.view-box .cus-check input:checked + label:before, .view-box .cus-radio input:checked + label:before { background: #fff url("/img/ico/check-on2.png"); }

html { overflow-y: scroll; }

html, body { height: 100%; }

#wrap { width: 100%; min-width: 1080px; height: 100%; }

.inner-wrap, .company-group.ty4 { width: 1080px; margin: 0 auto; position: relative; }

#container { padding-bottom: 120px; }
#container.main-wrap, #container.ranking-wrap { padding-bottom: 0; }
#container.terms-wrap { padding-bottom: 30px; }


header { width: 100%; height: 62px; border-bottom: 1px solid #e6e6e6; position: relative; }
header .inner-wrap, header .company-group.ty4 { padding: 0 6px; }
header .util-group { width: 100%; height: 61px; position: absolute; top: 0; left: 0; overflow: hidden; }
header .util { position: absolute; left: 50%; margin-left: 496px; top: 15px; white-space: nowrap; z-index: 110; }
header .util span { display: inline-block; height: 35px; line-height: 35px; vertical-align: top; }
header .util span + span { margin-left: 16px; }
header .util a { font-size: 15px; color: #000; }
header .util .version { display: inline-block; position: relative; top: 2px; height: 30px; line-height: 30px; border-radius: 15px; font-size: 14px; color: #fff; padding: 0 12px; margin-left: 16px; white-space: nowrap; background: #ec407a; }
header .my-info { position: absolute; left: 50%; top: 14px; margin-left: 500px; z-index: 120; }
header .my-info .inner { position: relative; }
.login-state-yes header .util { padding-left: 43px; }
.login-state-yes header .util span { display: none; }
.login-state-no header .my-info { display: none; }
header .search-total { position: absolute; top: 13px; left: 50%; z-index: 120; margin-left: -290px; height: 36px; line-height: 36px; border: 2px solid #d8d8d8; width: 180px; border-radius: 18px; overflow: hidden; }
header .search-total article { position: relative; }
header .search-total input { height: 32px; line-height: 33px; padding: 0 36px 0 12px; font-size: 14px; color: #afafaf; width: 100%; letter-spacing: -1px; border: none; }
header .search-total .i-btn { position: absolute; top: 4px; right: 12px; }

h1 { line-height: 1; position: absolute; top: 10px; left: 50%; margin-left: -534px; z-index: 300; }

nav { overflow: hidden; position: absolute; top: 0; left: 0; width: 100%; z-index: 100; }
nav a { color: #000; }
nav .inner-wrap, nav .company-group.ty4 { overflow: hidden; padding: 0 70px; height: 62px; text-align: right; }
nav .inner-wrap > ul, nav .company-group.ty4 > ul { display: inline-block; text-align: left; background: transparent; }
nav .inner-wrap > ul::after, nav .company-group.ty4 > ul::after { content: ''; display: block; clear: both; }
nav .m-dep { float: left; position: relative; min-height: 1px; }
nav .dep1 { position: relative; display: block; font-size: 15px; padding: 20px 30px; height: 62px; white-space: nowrap; vertical-align: top; font-weight: 600; }
nav .dep1.cur { color: #ec407a; }
nav .dep1.cur:before { content: ''; display: block; position: absolute; bottom: 0; left: 10px; right: 10px; height: 3px; background: #ec407a; }
nav .dep2 { white-space: nowrap; display: none; padding: 10px 30px 21px; text-align: left; width: 50px; margin-top: -14px; }
nav .dep2 li + li { margin-top: 7px; }
nav .dep2 a { display: block; font-size: 15px; letter-spacing: -1px; color: #000; }
nav .dep2 a.disable { color: #666; }
nav .dep2 a:hover { color: #ec407a; }
nav .dep2 span { color: #666; }
nav li.on .dep1 { color: #ec407a; }
nav li.on .dep1:before { left: 30px; right: 30px; opacity: 1; }
nav.over { background: #fff; border-bottom: 1px solid #e6e6e6; }
nav.over .inner-wrap, nav.over .company-group.ty4 { height: inherit; }
nav.over .dep1.cur:before { display: none; }
nav.over .dep2 { display: block; }


.my-tog-layer { display: none; position: absolute; top: 47px; right: -18px; width: 260px; padding: 0 10px; border: 1px solid #e6e6e6; font-size: 14px; background: #fff; }
.my-tog-layer .t-btn { width: inherit; min-width: inherit; }
.my-tog-layer dl { padding: 5px 0; position: relative; }
.my-tog-layer dl:before { content: ''; position: absolute; top: -9px; right: 16px; display: inline-block; width: 16px; height: 9px; background: url("/img/layout/myinfo-tog-blet.png") no-repeat; }
.my-tog-layer span { float: left; }
.my-tog-layer p { margin-left: 80px; text-align: right; }
.my-tog-layer em { color: #ec407a; }
.my-tog-layer dt, .my-tog-layer dd { overflow: hidden; padding: 10px 10px 8px; }
.my-tog-layer dd { border-top: 1px solid #e6e6e6; }
.my-tog-layer .btn-row .t-btn { float: right; }
.my-tog-layer .btn-row .t-btn:first-child { float: left; }
.my-tog-layer.is-open { display: block; }

/* font-color */
.point1, .info-table .rank-table .rank-1st em { color: #5abff8 !important; }

.point2, .info-table .rank-table .rank-2st em { color: #ec407a !important; }

.point3, .info-table .rank-table .rank-3st em { color: #3bde3b !important; }

.point4 { color: #ec3095 !important; }

/* ico */
.ico { display: inline-block; font-size: 0; overflow: hidden; background: 50% 50% no-repeat; background-size: cover; cursor: pointer; }
.ico.share, .ico.share-k { width: 18px; height: 18px; }
.ico.share { background-image: url("/img/ico/share.png"); }
.ico.share-k { background-image: url("/img/ico/share-kakao.png"); }

/* btn */
.btn-row { line-height: 1; text-align: center; }
.btn-row::after { content: ''; display: block; clear: both; }

.btn-more-row { margin-top: 30px; text-align: center; }

.i-btn, .t-btn { display: inline-block; cursor: pointer; }

.i-btn { overflow: hidden; text-align: left; text-indent: -1000px; background: 0 0 no-repeat; cursor: pointer; }
.i-btn.bt-mypage { width: 35px; height: 35px; background: url("/img/ico/bt-mypage.png") 0 0 no-repeat; }
.i-btn.bt-search { width: 24px; height: 24px; background: url("/img/ico/bt-search.png") 0 0 no-repeat; }
.i-btn.bt-prev, .i-btn.bt-next { width: 50px; height: 50px; border: 1px solid #c9c9c9; background: url("/img/ico/bt-pn1.png") 0 0 no-repeat; }
.date-info-sec .i-btn.bt-prev, .date-info-sec .i-btn.bt-next { width: 14px; height: 27px; border: none; background-image: url("/img/ico/bt-pn2.png"); }
.i-btn.bt-prev { background-position: 0 0; }
.i-btn.bt-prev:disabled, .i-btn.bt-prev.off { background-position: -50px 0; }
.i-btn.bt-next { background-position: 0 -50px; }
.i-btn.bt-next:disabled, .i-btn.bt-next.off { background-position: -50px -50px; }
.i-btn.bt-close { width: 27px; height: 27px; background: url("/img/ico/bt-close2.png") 50% no-repeat; }
#membership .i-btn.bt-close { background-image: url("/img/ico/bt-close1.png"); }

.t-btn { display: inline-block; text-align: center; font-size: 14px; font-weight: 400; padding: 0 16px; height: 34px; line-height: 32px; vertical-align: top; min-width: 120px; }
.t-btn.ty1 { color: #fff; background: #ec407a; }
.t-btn.ty2 { color: #000; border: 1px solid #dbdbdb; background: #fff; }
.t-btn.ty3 { color: #606060; text-decoration: underline; padding: 0; height: 24px; line-height: 24px; }
.t-btn.ty4 { color: #000; border: 1px solid #999; background: #fefcfd; }
.t-btn.ty4.hover:hover, .top-info-box .t-btn.ty4:hover { box-shadow: 0 0 0 2px rgba(102, 102, 102, 0.3); }
.t-btn.ty5 { color: #fff; background: #818789; }
.t-btn.ty6 { color: #ec407a; background: #fff; border: 1px solid #ec407a; border-radius: 70px; }
.t-btn.ty6.hover:hover, .top-info-box .t-btn.ty6:hover { background: #ec407a; color: #fff; box-shadow: 0 0 0 3px rgba(236, 64, 122, 0.3); }
.t-btn.ty7 { color: #666; background: #fff; border: 1px solid #e4e4e4; border-radius: 2px; }
.t-btn.ty8 { color: #000; background: #e4e4e4; border: 1px solid #e4e4e4; }
.t-btn.ty9 { color: #fff; background: #999; border: 1px solid #999; }
.t-btn .ico, .t-btn .heart { position: relative; top: 4px; margin-right: 8px; }
.t-btn.hover:hover, .top-info-box .t-btn:hover { -webkit-transition: all 0.3s ease-out; -moz-transition: all 0.3s ease-out; transition: all 0.3s ease-out; }
.t-btn.btn-love { width: 100%; padding: 0 10px 0 30px; overflow: hidden; text-align: left; position: relative; }
.t-btn.btn-love::after { content: ''; display: block; clear: both; }
.t-btn.btn-love strong, .t-btn.btn-love span, .t-btn.btn-love em { font-weight: normal; }
.t-btn.btn-love em { float: right; padding-right: 20px; margin-top: -1px; }
.t-btn.btn-love strong { position: absolute; left: 36px; top: 0; opacity: 0; }
.t-btn.btn-love span { padding-left: 36px; }
.t-btn.btn-love .heart { display: inline-block; width: 15px; height: 15px; position: absolute; left: 10px; top: 8px; background: url("/img/ico/heart.png") 0 0 no-repeat; background-size: cover; }
.t-btn.btn-love.click span, .t-btn.btn-love.click em { opacity: 0; -webkit-transition: all 0.2s ease-out; -moz-transition: all 0.2s ease-out; transition: all 0.2s ease-out; }
.t-btn.btn-love.click strong { opacity: 1; transform: scale(1); -webkit-transition: all 0.2s ease-out; -moz-transition: all 0.2s ease-out; transition: all 0.2s ease-out; }
.t-btn.btn-love.act { background: #ec3095; color: #fff; box-shadow: 0 0 0 3px rgba(237, 48, 149, 0.3); }
.t-btn.btn-love.act .heart { background-image: url("/img/ico/heart-w.png"); }
.t-btn.btn-love.act span, .t-btn.btn-love.act em { opacity: 1; -webkit-transition: all 1s 0.5s ease-out; -moz-transition: all 1s 0.5s ease-out; transition: all 1s 0.5s ease-out; }
.t-btn.btn-love.act strong { opacity: 0; transform: scale(3); -webkit-transition: all 1s ease-out; -moz-transition: all 1s ease-out; transition: all 1s ease-out; }
.t-btn.btn-love:hover .heart { background-image: url("/img/ico/heart-w.png"); }
.t-btn.line, .top-info-box .t-btn.ty6, .info-table .t-btn.ty6 { border-width: 2px !important; line-height: 29px; }
.t-btn.line.s1, .my-tog-layer .t-btn.line.ty2, .my-tog-layer .top-info-box .t-btn.ty2.ty6, .top-info-box .my-tog-layer .t-btn.ty2.ty6, .my-tog-layer .info-table .t-btn.ty2.ty6, .info-table .my-tog-layer .t-btn.ty2.ty6, .top-info-box .t-btn.s1.ty6, .top-info-box .list-ty2 .t-btn.ty6.ty7, .list-ty2 .top-info-box .t-btn.ty6.ty7, .info-table .t-btn.s1.ty6, .info-table .list-ty2 .t-btn.ty6.ty7, .list-ty2 .info-table .t-btn.ty6.ty7, .list-ty2 .t-btn.line.ty7 { line-height: 20px; }
.t-btn.line.s2, .date-info-sec .t-btn.line, .date-info-sec .top-info-box .t-btn.ty6, .top-info-box .date-info-sec .t-btn.ty6, .date-info-sec .info-table .t-btn.ty6, .info-table .date-info-sec .t-btn.ty6, .top-info-box .t-btn.s2.ty6, .top-info-box .search-filter .t-btn.ty6.ty8, .search-filter .top-info-box .t-btn.ty6.ty8, .info-table .t-btn.s2.ty6, .info-table .search-filter .t-btn.ty6.ty8, .search-filter .info-table .t-btn.ty6.ty8, .search-filter .t-btn.line.ty8 { line-height: 36px; }
.t-btn.line.s3, .m-about-us .t-btn.line, .m-about-us .top-info-box .t-btn.ty6, .top-info-box .m-about-us .t-btn.ty6, .m-about-us .info-table .t-btn.ty6, .info-table .m-about-us .t-btn.ty6, .m-invitation .t-btn.line, .m-invitation .top-info-box .t-btn.ty6, .top-info-box .m-invitation .t-btn.ty6, .m-invitation .info-table .t-btn.ty6, .info-table .m-invitation .t-btn.ty6, .top-info-box .t-btn.s3.ty6, .info-table .t-btn.s3.ty6 { line-height: 48px; }
.t-btn.line.s4, .top-info-box .t-btn.s4.ty6, .top-info-box .payment-data-group .btn-row .t-btn.ty6.ty1, .payment-data-group .btn-row .top-info-box .t-btn.ty6.ty1, .info-table .t-btn.s4.ty6, .info-table .payment-data-group .btn-row .t-btn.ty6.ty1, .payment-data-group .btn-row .info-table .t-btn.ty6.ty1, .payment-data-group .btn-row .t-btn.line.ty1 { line-height: 66px; }
.t-btn.s1, .my-tog-layer .t-btn.ty2, .list-ty2 .t-btn.ty7 { height: 24px; line-height: 24px; font-size: 12px; }
.t-btn.s2, .date-info-sec .t-btn, .search-filter .t-btn.ty8 { height: 40px; line-height: 38px; min-width: 180px; }
.t-btn.s3, .m-about-us .t-btn, .m-invitation .t-btn { height: 52px; line-height: 50px; min-width: 200px; font-size: 16px; }
.t-btn.s4, .payment-data-group .btn-row .t-btn.ty1 { height: 70px; line-height: 68px; min-width: 415px; font-size: 20px; }
.t-btn.radius, .m-about-us .t-btn, .m-invitation .t-btn, .top-info-box .t-btn, .info-table .t-btn.ty6 { border-radius: 70px; }
.t-btn.block, .top-info-box .t-btn { min-width: inherit; width: 100%; }
.t-btn.bt-more { font-size: 14px; color: #999; min-width: inherit; padding: 0; }
.t-btn.bt-more:after { content: '\276F'; margin-left: 3px; }
.t-btn.bt-more-bar { display: block; font-size: 16px; color: #000; border: 1px solid #e4e4e4; height: 50px; line-height: 50px; }
.top-info-box .t-btn { padding: 0; }
.ranking-list .t-btn.bt-more-bar { color: #666; border: none; }
.ranking-list .t-btn.bt-more-bar:before { content: ''; width: 15px; height: 15px; display: inline-block; position: relative; top: 2px; margin-right: 8px; background: url("/img/ico/bt-more1.png"); }
.info-table .t-btn.ty6 { font-size: 16px; min-width: 254px; font-weight: 500; }
.comment-box .t-btn.ty5 { width: 130px; }
.comment-box .t-btn.ty7 { min-width: inherit; padding: 0 6px; background: transparent; height: 30px; line-height: 28px; }
.comment-box .t-btn.ty7.act { background: #f9f9f9; }
.list-ty2 .t-btn.bt-more-bar { display: inline-block; width: 500px; color: #666; height: 60px; line-height: 58px; }
.search-filter .t-btn.ty8 { min-width: 100px; }
.txt-col.is-bt .t-btn.ty6 { padding: 0; min-width: 60px; }
.view-ty1 .t-btn.ty6 { padding: 0; min-width: 80px; }
.search-filter .t-btn.ty6 { border-radius: 0; }
.write-form .t-btn { border-radius: 0; min-width: 100px; margin: 0 5px; }

.sub-visual-sce { height: 148px; background: #eee; border-bottom: 1px solid #e9e9e9; overflow: hidden; }
.sub-visual-sce .inner-wrap, .sub-visual-sce .company-group.ty4 { height: 100%; position: relative; }
.sub-visual-sce .tx-group { display: table; height: 100%; vertical-align: middle; position: relative; z-index: 2; }
.sub-visual-sce .tx-group h2, .sub-visual-sce .tx-group p { display: table-cell; vertical-align: middle; }
.sub-visual-sce .tx-group h2 { font-size: 42px; color: #444759; font-weight: 600; padding-right: 30px; }
.sub-visual-sce .tx-group p { color: #282a38; font-size: 16px; }
.sub-visual-sce .tx-group p em { font-weight: 500; margin-top: 4px; display: block; }
.sub-visual-sce .eng-txt { position: absolute; top: 40%; right: -3%; color: #dfe0e8; font-size: 60px; line-height: 0.8; letter-spacing: -1px; font-weight: 700; -webkit-transform: translateY(-50%) rotate(-25deg); -moz-transform: translateY(-50%) rotate(-25deg); -ms-transform: translateY(-50%) rotate(-25deg); -o-transform: translateY(-50%) rotate(-25deg); transform: translateY(-50%) rotate(-25deg); }
.sub-visual-sce .eng-txt.ty2 { font-size: 70px; }
.sub-visual-sce .eng-txt.ty3 { top: 25%; }
.sub-visual-sce .warning { position: absolute; bottom: 5px; font-size: 14px; letter-spacing: -1px; word-spacing: 1px; }
.sub-visual-sce .warning:before { content: ''; position: relative; top: -2px; display: inline-block; margin-right: 7px; width: 19px; height: 15px; vertical-align: middle; background: url("/img/ico/warning.png") no-repeat; }
.sub-visual-sce .warning em { color: #ff0000; }
.sub-visual-sce .warning span { color: #444759; margin-left: 6px; }
.sub-visual-sce .warning a { border-bottom: 1px solid #444759; color: #444759; margin-left: 2px; }



.list-ty1 table { border-top: 3px solid #ec407a; width: 100%; table-layout: fixed; }
.list-ty1 th, .list-ty1 td { border-bottom: 1px solid #e6e6e6; text-align: center; }
.list-ty1 th { font-weight: 500; padding: 14px 0; }
.list-ty1 td { height: 76px; }
.list-ty1 .flag { display: inline-block; width: 120px; height: 35px; line-height: 35px; border: 1px solid #e6e6e6; border-radius: 1px; background: #fafafa; }
.list-ty1 .subject { display: block; max-width: 100%; overflow: hidden; text-overflow: ellipsis; -o-text-overflow: ellipsis; -ms-text-overflow: ellipsis; -moz-text-overflow: ellipsis; white-space: nowrap; }

.list-ty2 table { width: 100%; table-layout: fixed; font-size: 14px; color: #666; }
.list-ty2 table.base { font-size: 16px; color: #000; }
.list-ty2 table.base td { padding: 16px 0 18px; }
.list-ty2 th, .list-ty2 td { border: solid #e4e4e4; border-width: 0 0 1px; padding: 7px 0; }
.list-ty2 th.left, .list-ty2 td.left { padding-left: 20px !important; }
.list-ty2 th.right, .list-ty2 td.right { padding-right: 10px !important; }
.list-ty2 th { background: #fbfbfb; border-top-width: 1px; font-weight: 500; padding-bottom: 6px; text-align: center; font-size: 14px; color: #000; }
.list-ty2 p { overflow: hidden; text-overflow: ellipsis; -o-text-overflow: ellipsis; -ms-text-overflow: ellipsis; -moz-text-overflow: ellipsis; white-space: nowrap; padding: 0 10px; }
.list-ty2 .num { font-size: 24px; }
.list-ty2 .thum { display: inline-block; line-height: 0; vertical-align: top; border: 1px solid #e4e4e4; }
.list-ty2 .subject { font-size: 16px; color: #000; padding-left: 16px; }
.list-ty2 .link { text-overflow: clip; -o-text-overflow: clip; -ms-text-overflow: clip; -moz-text-overflow: clip; white-space: normal; max-height: inherit; line-height: 0; }
.list-ty2 .link a { display: inline-block; overflow: hidden; text-overflow: ellipsis; -o-text-overflow: ellipsis; -ms-text-overflow: ellipsis; -moz-text-overflow: ellipsis; white-space: nowrap; line-height: 1.55; max-width: 100%; color: #000; }
.list-ty2 .type { padding-left: 24px; }
.list-ty2 .singer { padding-left: 40px; }
.list-ty2 .agency.ty1 { padding-left: 32px; }
.list-ty2 .agency.ty2 { padding-left: 70px; }
.list-ty2 .agency.ty3 { padding-left: 86px; }
.list-ty2 .agency.ty4 { padding-right: 50px; }
.list-ty2 .sales-rate { color: #000; font-size: 16px; font-weight: 600; padding-right: 5px; }

.board-data-group { padding: 42px 0 0; }

.detail-view-sec .btn-row { text-align: left; }
.detail-view-sec + .comment-box { margin-top: 50px; }

.detail-grp { margin: 20px 0; border-top: 2px solid #999; overflow: hidden; }

.detail-head, .pn-list { background: #fafafa; overflow: hidden; margin-top: -1px; }
.detail-head li, .pn-list li { border: solid #ddd; border-width: 1px 0; display: table; width: 100%; table-layout: fixed; }
.detail-head li + li, .pn-list li + li { margin-top: -1px; }
.detail-head span, .detail-head p, .pn-list span, .pn-list p { display: table-cell; vertical-align: middle; height: 52px; }
.detail-head span, .pn-list span { width: 166px; padding-left: 40px; }

.pn-list { margin-top: 56px; }
.pn-list span { font-size: 14px; }
.pn-list span:before { content: ''; display: inline-block; width: 18px; height: 11px; margin-right: 20px; vertical-align: middle; background: 0 0 no-repeat; }
.pn-list span.prev:before { background-image: url("/img/ico/pn-prev.png"); }
.pn-list span.next:before { background-image: url("/img/ico/pn-next.png"); }

.detail-body { border-bottom: 1px solid #ddd; padding: 45px; }

.hide-guide { display: none; position: absolute; top: 42px; left: 0; bottom: 1px; width: 100%; background: rgba(238, 238, 238, 0.85); z-index: 10; }
.hide-guide .in { position: relative; padding: 120px 0; text-align: center; }
.hide-guide .txt1 { font-size: 21px; color: #ec407a; margin-bottom: 40px; }

.detail-more-box { background: #fff; position: relative; }
.detail-more-box.is-hide .hide-guide { display: block; }

.tab-fixed { margin-top: 30px; height: 40px; }
.tab-fixed .tab { margin-top: 0; }
.tab-fixed .tab.is-fixed { position: fixed; top: 0; left: 50%; margin-left: -540px; width: 1080px; z-index: 12; }
.tab-fixed .tab.is-fixed.sw { left: 0; margin-left: 0; }

.view-ty1 { margin-top: 70px; }
.view-ty1::after { content: ''; display: block; clear: both; }
.view-ty1 dl.ty2 dd { padding-top: 31px; }
.view-ty1 dl.ty2 .row + .row { margin-top: 5px; }
.view-ty1 dl.ty2 .btn-row { margin-top: 11px; }
.view-ty1 dt, .view-ty1 dd { border: 1px solid #e4e4e4; font-size: 14px; }
.view-ty1 dt + dd, .view-ty1 dd + dd { margin-top: -1px; }
.view-ty1 dt { font-size: 24px; font-weight: 500; padding: 26px 19px 25px; }
.view-ty1 dt span { font-size: 14px; color: #999; margin-left: 30px; font-weight: 400; }
.view-ty1 dd { padding: 35px 20px 36px; }
.view-ty1 .btn-row { margin-top: 50px; }
.view-ty1 .label { color: #999; position: absolute; left: 0; top: 15px; letter-spacing: -1px; }
.view-ty1 .row { position: relative; line-height: 1.45; padding: 15px 0 15px 90px; }
.view-ty1 .row + .row { margin-top: 10px; }
.view-ty1 .row .cus-radio { margin-top: -3px; margin-bottom: -3px; }
.view-ty1 .row input[type="text"] { margin: -15px 0; height: 50px; line-height: 50px; width: 430px; }
.view-ty1 .txt-col { font-weight: 600; position: relative; }
.view-ty1 .txt-col .s1, .view-ty1 .txt-col .my-tog-layer .t-btn.ty2, .my-tog-layer .view-ty1 .txt-col .t-btn.ty2, .view-ty1 .txt-col .list-ty2 .t-btn.ty7, .list-ty2 .view-ty1 .txt-col .t-btn.ty7 { font-size: 24px; font-weight: 400; position: relative; top: -11px; }
.view-ty1 .txt-col .s2, .view-ty1 .txt-col .date-info-sec .t-btn, .date-info-sec .view-ty1 .txt-col .t-btn, .view-ty1 .txt-col .search-filter .t-btn.ty8, .search-filter .view-ty1 .txt-col .t-btn.ty8 { font-size: 18px; font-weight: 500; position: relative; top: -4px; }
.view-ty1 .txt-col.is-bt { padding-right: 70px; }
.view-ty1 .txt-col.is-bt .t-btn { position: absolute; right: 0; top: 50%; margin-top: -17px; }
.view-ty1 .gift-box { margin-top: -4px; }
.view-ty1 .pay-target .row { padding-left: 120px; }
.view-ty1 .pay-way { margin-top: 15px; display: none; }
.view-ty1 .pay-way .row { margin-bottom: 20px; }
.view-ty1 .cus-radio { margin-right: 40px; }
.view-ty1 .note.ty1 { font-size: 16px; color: #ec407a; }

.write-form .note { font-size: 14px; margin: 10px 42px; }
.write-form .btn-row { margin-top: 28px; }

.write-tb { border-top: 2px solid #999; background: #fafafa; }
.write-tb table { table-layout: fixed; width: 100%; }
.write-tb th, .write-tb td { border-bottom: 1px solid #ddd; height: 52px; }
.write-tb th.edit, .write-tb td.edit { height: inherit; }
.write-tb th { border-right: 1px solid #ddd; padding-left: 42px; font-weight: 400; }
.write-tb input { height: 52px; color: #999; }
.write-tb input, .write-tb textarea { border-width: 0; width: 100%; }
.write-tb textarea { border: 1px solid #ddd; margin: -1px 0; padding: 30px 42px; }
.write-tb tbody th { border-right-width: 0; }
.write-tb tbody td { color: #666; }

.input-group { margin-left: -5px; }
.input-group::after { content: ''; display: block; clear: both; }
.input-group input[type="color"], .input-group input[type="date"], .input-group input[type="datetime"], .input-group input[type="datetime-local"], .input-group input[type="email"], .input-group input[type="month"], .input-group input[type="number"], .input-group input[type="password"], .input-group input[type="search"], .input-group input[type="tel"], .input-group input[type="text"], .input-group input[type="time"], .input-group input[type="url"], .input-group input[type="week"], .input-group input:not([type]), .input-group textarea, .input-group select { height: 50px; line-height: 48px; border: 1px solid #c9c9c9; padding: 0 18px; font-weight: 600; width: 100%; }
.input-group span { float: left; padding: 0 5px; width: 96%; }
.input-group.col2 span { width: 48.5%; }
.input-group.col3 span { width: 32%; }
.input-group.col4 span { width: 24%; }

.content-inner-wrap { width: 1080px; margin: 0 auto; }


.top-info-box { padding: 0 0 0 210px; position: relative; min-height: 290px; }
.top-info-box .thum { width: 180px; height: 180px; position: absolute; top: 0; left: 0; }
.top-info-box .thum img { width: 100%; height: 100%; }
.top-info-box ul { margin-top: 16px; }
.top-info-box li { position: relative; padding-left: 65px; color: #000; font-size: 14px; margin-top: 4px; }
.top-info-box li .label { position: absolute; top: 0; left: 0; color: #707070; }
.top-info-box li p { overflow: hidden; text-overflow: ellipsis; -o-text-overflow: ellipsis; -ms-text-overflow: ellipsis; -moz-text-overflow: ellipsis; white-space: nowrap; }
.top-info-box .title { font-size: 26px; color: #000; position: relative; top: -5px; overflow: hidden; text-overflow: ellipsis; -o-text-overflow: ellipsis; -ms-text-overflow: ellipsis; -moz-text-overflow: ellipsis; white-space: nowrap; }
.top-info-box .subscript { font-size: 16px; color: #707070; margin-top: -1px; overflow: hidden; text-overflow: ellipsis; -o-text-overflow: ellipsis; -ms-text-overflow: ellipsis; -moz-text-overflow: ellipsis; white-space: nowrap; }
.top-info-box .btn-row { margin-top: 27px; }
.top-info-box .btn-row .t-btn { display: block; }
.top-info-box .btn-row .col { float: left; vertical-align: top; margin-left: 14px; padding: 0 3px; }
.top-info-box .btn-row .col:nth-child(1) { width: 250px; margin-left: 0; }
.top-info-box .btn-row .col:nth-child(2) { width: 80px; }
.top-info-box .btn-row .col:nth-child(3) { width: 110px; }
.top-info-box .btn-row .num-count { font-size: 16px; margin-top: 12px; padding: 0 5px; overflow: hidden; text-align: center; color: #999; }
.top-info-box .btn-row .num-count p { float: right; letter-spacing: -1px; }
.top-info-box .btn-row .num-count p:first-child { float: left; }
.top-info-box .btn-row .num-count span { font-size: 12px; }
.top-info-box .btn-row .num-count strong, .top-info-box .btn-row .num-count em { margin-left: 3px; }
.top-info-box .btn-row .num-count strong { color: #ed3095; }
.top-info-box .btn-row .num-count em { color: #000; }

.date-info-sec { padding: 16px 0 15px; position: relative; text-align: center; border-bottom: 1px solid #bdbdbd; margin-bottom: -1px; }
.date-info-sec .date { display: inline-block; font-size: 32px; color: #666; padding: 0 54px; position: relative; }
.date-info-sec .date .i-btn { position: absolute; top: 12px; }
.date-info-sec .date .bt-prev { left: 0; }
.date-info-sec .date .bt-next { right: 0; }
.date-info-sec .t-btn.ty7 { position: absolute; right: 10px; top: 50%; margin-top: -20px; }


.comment-box .write-row { margin-top: 20px; height: 113px; padding-right: 130px; position: relative; border: 1px solid #818789; background: #fff; }
.comment-box .write-row textarea { width: 100%; height: 88px; font-size: 14px; border: none; resize: none; overflow-y: auto; padding-bottom: 0; }
.comment-box .write-row textarea::-webkit-input-placeholder { color: #acacac; }
.comment-box .write-row textarea::-moz-placeholder { color: #acacac; }
.comment-box .write-row textarea:-moz-placeholder { color: #acacac; }
.comment-box .write-row textarea:-ms-input-placeholder { color: #acacac; }
.comment-box .write-row .word-count { position: absolute; bottom: 13px; right: 152px; z-index: 2; font-size: 12px; color: #818789; }
.comment-box .write-row .t-btn { position: absolute; bottom: -1px; right: -1px; height: 112px; line-height: 110px; }

.comment-list { margin-top: 30px; }
.comment-list ul { margin: 30px 0 0; font-size: 16px; }
.comment-list li { border: solid #e4e6e7; border-width: 1px 0; padding: 16px 12px; position: relative; }
.comment-list li + li { margin-top: -1px; }
.comment-list .info { overflow: hidden; margin-bottom: 12px; }
.comment-list .info .name { float: left; color: #000; font-weight: 500; }
.comment-list .info .time { float: right; color: #a4a4a4; font-size: 12px; margin-top: 5px; }
.comment-list .subject { color: #666; font-size: 14px; padding-right: 100px; word-break: break-all; position: relative; }
.comment-list .subject .write-row { display: none; }
.comment-list .subject.act-edit { padding: 0; z-index: 2; }
.comment-list .subject.act-edit .my { display: none; }
.comment-list .subject.act-edit .write-row { display: block; }
.comment-list .fun-btn { position: absolute; top: 57px; right: 12px; }
.comment-list .reply-num { margin-top: 11px; }
.comment-list .write-row { height: 122px; margin-top: 0; border-color: #dbdbdb; padding: 0 0 40px 0; }
.comment-list .write-row textarea { height: 95%; }
.comment-list .write-row .t-btn { height: 42px; line-height: 40px; }

.reply-box { margin: 16px -12px -16px; background: #f8f8f8; display: none; }
.reply-box .item { padding: 16px 12px 16px 38px; position: relative; border-top: 1px solid #e4e6e7; }
.reply-box .item:before { content: ''; display: block; position: absolute; top: 15px; left: 15px; width: 13px; height: 14px; border: solid #666; border-width: 0 0 1px 1px; }
.reply-box .item.del { padding-left: 15px; }
.reply-box .item.del:before { display: none; }
.reply-box .reply-close-row { border-top: 1px solid #e4e6e7; text-align: center; }
.reply-box .reply-close-row a { display: block; color: #000; padding: 16px 0; }
.reply-box .reply-close-row a:after { content: ''; position: relative; top: -2px; display: inline-block; width: 17px; height: 9px; margin-left: 10px; background: url("/img/ico/reply.png") no-repeat; }
.reply-box.is-open { display: block; }


.password-sec .view-ty1 dd { padding: 54px 0; }
.password-sec .view-ty1 .row { width: 415px; margin: 0 auto; padding-left: 165px; }
.password-sec .view-ty1 .input-group { width: 108%; margin-left: -4px; }
.password-sec .btn-row { margin-top: 30px; }


.toggle-list ul { border: 1px solid #e4e4e4; font-size: 16px; }
.toggle-list li { background: #fff; border-top: 1px solid #e4e4e4; margin-top: -1px; }
.toggle-list .qs { padding: 18px 90px 16px; position: relative; }
.toggle-list .qs:before, .toggle-list .qs:after { content: ''; display: inline-block; position: absolute; top: 50%; }
.toggle-list .qs:before { content: 'Q'; color: #707070; left: 30px; top: 15px; }
.toggle-list .qs:after { right: 40px; margin-top: -4px; width: 15px; height: 9px; background: url("/img/ico/blet1.png") 0 0 no-repeat; background-size: cover; }
.toggle-list .an { display: none; padding: 26px 32px 30px; background: #fbfbfb; border-top: 1px solid #e4e4e4; line-height: 1.9; }
.toggle-list .subject { overflow: hidden; text-overflow: ellipsis; -o-text-overflow: ellipsis; -ms-text-overflow: ellipsis; -moz-text-overflow: ellipsis; white-space: nowrap; }
.toggle-list li.act .qs:after { -webkit-transform: rotate(180deg); -moz-transform: rotate(180deg); -ms-transform: rotate(180deg); -o-transform: rotate(180deg); transform: rotate(180deg); }
.toggle-list li.act .an { display: block; }

.help-group { padding: 64px 0; }

.friends-list { margin: 30px 30px 0; padding: 0; border: solid #e4e4e4; border-width: 1px 0; }
.friends-list::after { content: ''; display: block; clear: both; }
.friends-list .item { float: left; width: 170px; height: 188px; padding-top: 34px; text-align: center; }
.friends-list .photo { display: block; margin: 0 auto; width: 70px; height: 70px; border-radius: 35px; overflow: hidden; background: url("../../asset/images/sub/friend.png") 0 0 no-repeat; }
.friends-list .info { font-size: 16px; letter-spacing: -1px; margin-top: 13px; }
.friends-list .info strong { color: #000; font-weight: 400; display: block; }
.friends-list .info p { color: #666; margin-top: -4px; }
.friends-list .add { float: left; width: 170px; text-align: center; padding-top: 38px; }
.friends-list .add:before { content: ''; display: block; width: 50px; height: 50px; margin: 0 auto 26px; background: url("../../asset/images/sub/friend-plus.png") 0 0 no-repeat; }
.friends-list .add .t-btn { min-width: 100px; }

.main-wrap h3 { margin-bottom: 28px; position: relative; }
.main-wrap h3 em { font-size: 30px; color: #000; }
.main-wrap h3 span { font-size: 15px; letter-spacing: 4px; margin-left: 12px; color: #c9c9c9; font-weight: 100; }
.main-wrap h3 .bt-more { position: absolute; right: 0; bottom: 0; }
.main-wrap .list-ty1 .left { padding-left: 96px; }

.m-visual { height: 308px; overflow: hidden; }
.m-visual a { display: block; height: 308px; background: 50% 0 no-repeat; }
.m-visual .slider { position: relative; }
.m-visual .slider:hover .slick-arrow { visibility: visible; }
.m-visual .slick-arrow { display: inline-block; visibility: hidden; position: absolute; top: 50%; left: 50%; margin: -50px 0 0 0; z-index: 2; width: 50px; height: 50px; overflow: hidden; font-size: 0; text-indent: -1000px; background: url("/img/ico/slider-pn1.png") 0 0 no-repeat; }
.m-visual .slick-prev { margin-left: -590px; background-position: 0 0; }
.m-visual .slick-next { margin-left: 540px; background-position: 0 -60px; }

.m-notice { padding: 32px 0 79px; }
.m-notice h3 { margin-bottom: 24px; }
.m-notice h3 em { font-size: 26px; }
.m-notice h3 span { font-weight: 600; }

.m-about-us article, .m-invitation article { display: table; height: 100%; }
.m-about-us .col, .m-invitation .col { display: table-cell; vertical-align: middle; }
.m-about-us .txt, .m-invitation .txt { font-weight: 300; }
.m-about-us .btn-row, .m-invitation .btn-row { text-align: left; margin-top: 47px; }

.m-about-us { height: 398px; color: #707070; background: #f3f3f3 url("/img/main/about-us.jpg") 50% 0 no-repeat; }
.m-about-us .col { padding: 0 20px 0 550px; }

.m-invitation { height: 400px; color: #fff; background: #5f3953 url("/img/main/invitation.jpg") 50% 0 no-repeat; }
.m-invitation .col { padding: 0 20px; }
.m-invitation h3 span, .m-invitation h3 em { color: #fff; }

select { -webkit-appearance: none; -moz-appearance: none; -ms-appearance: none; -o-appearance: none; appearance: none; height: 60px; width: 140px; border: 1px solid #d8d6da; background: url("/img/ico/arrow.png") 100% 50% no-repeat; color: #545454; font-size: 14px; letter-spacing: -1px; }

select::-ms-expand { display: none; }

/* error */
.error-wrap { padding: 145px 0 25px; }
.error-wrap .in { width: 550px; margin: 0 auto; }
.error-wrap .point { color: #ec407a; }
.error-wrap .t1 { line-height: 52px; font-size: 31.87px; letter-spacing: -2px; }
.error-wrap .t1 span { padding-left: 75px; display: inline-block; background: url("/img/etc/error.gif") 0 0 no-repeat; }
.error-wrap .t2 { font-size: 17.53px; text-align: left; line-height: 1.75; margin-top: 80px; }
.error-wrap .t2 a.point { text-decoration: underline; }
.error-wrap .confirm-detail { margin-top: 40px; }
.error-wrap .confirm-detail li { height: 65px; display: table; width: 100%; border: solid #e4e4e4; border-width: 1px 0; margin-top: -1px; }
.error-wrap .confirm-detail span, .error-wrap .confirm-detail p { display: table-cell; vertical-align: middle; }
.error-wrap .confirm-detail span { width: 86px; color: #999; padding-left: 3px; }
.error-wrap .btn-row { text-align: center; margin-top: 50px; }
.error-wrap .btn-row button, .error-wrap .btn-row a { height: 33px; line-height: 33px; width: 97px; margin: 0 10px; display: inline-block; text-align: center; border-radius: 3px; }
.error-wrap .btn-row .bt-ty1 { color: #000; border: 1px solid #e0e0e0; background: #fff; }
.error-wrap .btn-row .bt-ty2 { color: #fff; border: 1px solid #ec3095; background: #ec3095; }

/* 로그인 */
.login_box { position: relative; z-index: 3; width: 580px; border: 1px solid #d8d6da; border-radius: 5px; }

.login_container { font-size: 14px; }
.login_container .inner { width: 580px; margin: 0 auto; padding: 120px 0 0; }
.login_container .id_box { width: 450px; margin-left: 65px; padding: 25px 0 25px 0; border-bottom: 1px solid #d8d6da; }
.login_container .id_box .img { padding: 25px 0 20px 90px; }
.login_container .welcome { padding: 20px 0 40px; font-size: 16px; font-weight: 300; color: #a7a7a7; letter-spacing: -1px; text-align: center; }
.login_container .plc_wrap { display: block; float: left; position: relative; margin-bottom: 10px; height: 60px; width: 450px; border: 1px solid #d8d6da; }
.login_container .plc_lb { position: absolute; top: 22px; left: 18px; font-size: 15px; color: #797979; }
.login_container .plc_ip { width: 100%; height: 58px; border: 0 none; background: none; font-size: 13px; text-indent: 6px; }
.login_container .btn_submit { display: block; width: 450px; height: 67px; margin: 0 auto 0; background-color: #ec407a; }
.login_container .btn_submit .txt { position: relative; font-size: 17px; font-weight: 300; color: #fff; line-height: 52px; letter-spacing: -1px; }
.login_container .plc_save { display: block; float: left; position: relative; margin-bottom: 10px; height: 25px; width: 450px; }
.login_container .plc_save .txt { display: block; position: relative; line-height: 25px; color: #797979; margin-left: 35px; }
.login_container .save { display: table; width: 400px; }
.login_container .save li { display: table-cell; position: relative; color: #797979; }
.login_container .save li:first-child { width: 100px; padding-right: 50px; }
.login_container .save li:last-child { width: 150px; padding-right: 100px; }
.login_container .check_ip { position: absolute; top: 0; right: 0; bottom: 0; left: 0; opacity: 0; }
.login_container .check_ip + label { display: block; cursor: pointer; background: url("/img/ico/check.png") no-repeat; }
.login_container .check_ip:checked + label:before { position: absolute; top: 0; left: 0; right: 0; bottom: 0; width: 25px; height: 25px; background: url("/img/ico/check_on.png") no-repeat; content: ''; }
.login_container .idpsfound { position: relative; text-align: center; }
.login_container .found { margin: 15px 0; display: inline-block; }
.login_container .found::after { content: ''; display: block; clear: both; }
.login_container .found li { float: left; position: relative; font-family: 'noto', sans-serif; color: #797979; }
.login_container .found li + li { padding-left: 80px; }
.login_container .found li + li:before { content: ''; position: absolute; top: 0; left: 40px; width: 1px; height: 100%; background: #e5e5e5; }
.login_container .found .color { color: #878686; }
.login_container .id_box_bottom { height: 250px; width: 515px; padding: 25px 0 25px 65px; }
.login_container .btn_facebook, .login_container .btn_google { display: block; width: 450px; height: 67px; margin-top: 10px; position: relative; }
.login_container .btn_facebook .txt, .login_container .btn_google .txt { position: relative; font-size: 17px; font-weight: 300; color: #fff; line-height: 52px; letter-spacing: -1px; }
.login_container .btn_facebook .img, .login_container .btn_google .img { position: absolute; left: 70px; top: 50%; margin-top: -23px; }
.login_container .btn_facebook { background-color: #3B5999; }
.login_container .btn_google { background-color: #DD4B39; }

/* footer */

.f-links { background: #e4e4e4; overflow: hidden; border-bottom: 1px solid #d8d8d8; }
.f-links .inner-wrap, .f-links .company-group.ty4 { padding: 14px 20px 16px; }
.f-links span { font-size: 13px; }
.f-links span + span { margin-left: 74px; }
.f-links a { color: #222; }

.f-company-info { font-size: 12px; color: #666; font-weight: 300; line-height: 1.7; position: relative; }
.f-company-info .inner-wrap, .f-company-info .company-group.ty4 { padding: 32px 0 32px 237px; background: url("") 6px 50% no-repeat; }
.f-company-info ul { word-spacing: -1px; }
.f-company-info ul span + span:before { content: '|'; font-size: 10px; position: relative; top: -2px; padding: 0 4px 0 3px; }
.f-company-info .mark-group { position: absolute; top: 50%; right: 0; -webkit-transform: translate(0, -50%); -moz-transform: translate(0, -50%); -ms-transform: translate(0, -50%); -o-transform: translate(0, -50%); transform: translate(0, -50%); }
.f-company-info .mark-group span { display: inline-block; vertical-align: middle; }
.f-company-info .mark-group span + span { margin-left: 30px; }

/*# sourceMappingURL=common.css.map */
